.carousel-item {
  height: 15rem;
  background: #777;
  position: relative;
}

.carousel-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  padding-left: 50px;
}

#carouselCaptions {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .carousel-item {
    height: 32rem;
    background: #777;
    position: relative;
  }
}
